@import "~bootstrap/scss/bootstrap";
@import "vars";
@import "keodex";
@import "homepage";
@import "map.scss";

@import "qr.scss";



body {

}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Imprima', sans-serif;
}

p, button
{
    font-family: 'Yantramanav', sans-serif;
}

i.fas.fa-home, i.fas.fa-map-marker-alt.mr-2
{
    color: $light-color;
    font-size: 35px;
}

span.badge.badge-secondary
{
    background-color: $primary-color;
}
