h1, h2, h3, p
{
    color : $grey-color;
}

p.compteur
{
    font-size: 16pt;
    color: $secondary-color;
    padding-bottom: 5px;
}

div.compteur-border
{
    background-color: $grey-color;
    border-radius: 20px;
    width: 100px;
    margin-top: 18px;
    margin-right: -22px;
    height: 60%;
    padding-left: 6px;
}

img.image-compteur
{
    width:40px;
    margin-top: 18px;
}

.container-fluid
{
    margin : 0;
    background-color: $secondary-color;
    height: 100%;
}

.btn.btn-primary.btn-lg.btn-block
{
    background-color: $primary-color;
    border: none;
}

.btn.btn-primary.btn-lg.btn-block:hover
{
    background-color: $primary-color;
    border: none;
    box-shadow: none;
}

nav {
    background-color: $secondary-color;
}

li.nav-item.m-2
{
    list-style: none;
}

footer {
    height: 60px;
    width: 100%;
}

.lienWillou{
    color: $primary-color;
}

.titleWill{
    color: $grey-color;
    font-size: 16pt;
}