
    .category_button {
        border-left: solid 5px $grey-color;
        padding-left: 1rem;
        letter-spacing: 0.2rem;
        text-align: start;
    }

    .card {
        border: none;
    }

    .card_button {
        background-color: $light-color;
    }

    .btn-link {
        color: $secondary-color;
        font-size: 2rem;
        text-transform: uppercase;
        text-decoration: none;
    }

    .btn-link:hover {
        text-decoration: none;
        color: $primary-color;
    }

    .card-body {
        font-size: 18px;
    }

    .fa-chevron-down:hover, .fa-chevron-up:hover {
        color: $grey-color;
    }

    button[aria-expanded=true] .fa-chevron-down {
        display: none;
    }

    button[aria-expanded=false] .fa-chevron-up {
        display: none;
    }

    .pointer {
        cursor: pointer;
    }

    .imageKeodis {
        width: 50px;
        padding: 0;
    }

    .imagehihi{
        padding: 0;
    }

    .fas fa-circle {
        margin-right: 10px;
    }
    h3{
        color:$secondary-color ;
    }