{% extends 'base.html.twig' %}

{% block compteur %}
    <div class="container-fluid">
        <div class="col-sm-12 d-flex flex-row-reverse pt-2">
            <div class="d-flex justify-content-center align-items-center flex-row-reverse mb-2">
                <img style="width:40px;" src="{{ asset('build/images/ginkgo.png') }}" alt="Symbole collection">
                <p class="align-self-center m-0 p-1 compteur"> 01/50 </p>
            </div>
        </div>
    </div>
{% endblock %}