{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">

    {{ encore_entry_link_tags('app') }}
{% endblock %}

 {% block body %}
     <h1>carte</h1>
     <div id="maCarte"></div>

 {% endblock %}
{% block javascripts %}
            <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
                    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
                    crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
            <script>

                var villes = {
                    "Paris": { "lat": 48.852969, "lon": 2.349903 },
                    "Brest": { "lat": 48.383, "lon": -4.500 },
                    "Quimper": { "lat": 48.000, "lon": -4.100 },
                    "Bayonne": { "lat": 43.500, "lon": -1.467 }
                };

                var markersArray = [];

                var carte = L.map('maCarte').setView([47.903912, 1.904599], 13);
                L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                    // Il est toujours bien de laisser le lien vers la source des données
                    attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                    minZoom: 1,
                    maxZoom: 20
                }).addTo(carte);

                var markers = L.markerClusterGroup();

                // var icone = L.icon({
                //     //iconUrl: "images/bike.png",
                //     iconSize: [50, 50],
                //     iconAnchor: [25, 50],
                //     popupAnchor: [-3, -76],
                // });

                for(ville in villes) {
                    var marker = L.marker([villes[ville].lat, villes[ville].lon]); //{icon:icone}); //.addTo(carte);
                    marker.bindPopup("<p>"+ville+"</p>");        //TODO: fixer la durée du pop-up en mobile
                    markers.addLayer(marker);

                    markersArray.push(marker);
                }
                var groupe = new L.featureGroup(markersArray);
                carte.fitBounds(groupe.getBounds().pad(0.5));

                carte.addLayer(markers);

            </script>
            {{ encore_entry_script_tags('app') }}
{% endblock %}
