{% block content %}
    <div class="container-fluid">
        <h2>BRAVO !</h2>
        <p>Tu as gagné un nouvel objet</p>

        <img src="{{ asset('build/images/clover.png') }}">

        <a href="" class="mt-5">Ajouter au Keodex</a>

    </div>
{% endblock %}
